.dropdown{

    position: relative;

    display: inline-block;

}

.dropbtn{

    background-color: #3498db;

    color: white;

    padding: 8px;

    font-size: 16px;

    border: none;

    cursor: pointer

}

.dropdown-content{

    display: none;

    position: absolute;

    background-color: white;

    min-width: 120px;

    border: 1px ;

}

.dropdown-content a{

    color: black;

    padding: 10px;

    text-decoration: none;

    display: block;

}

.dropdown:hover .dropdown-content{

    display: block;
    background-color: black;
}

.dropdown-content a:hover {

    background-color: #000000;

}

.menu-bar{
    display: flex;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    justify-content: flex-start;
    color:white;
    height: 50px;
    font-size: 20px;
}
body {
      margin: 0;
      padding: 0;

   }
   nav {
       display: flex;
       color: white;
       justify-content: space-around;
       padding: 10px;
   }
    a {
        text-decoration: none;
        color: white;
        padding: 20px;
        font-size: 20px;
    }
    h3 {
        display: flex;
        color: Rgb (23,23,221)
    }
    img {
        border-radius: 300px;
        border-color: white;
    }
    .container1 {
        justify-content: space-around;

    }
    .para1 {
        margin-left: 50px;
        color: rgb(23, 23, 221);
    }
    p {
        margin-left: 50px;
        color:white;    
    }
    h2 {
        margin-left: 50px;
        color: rgb(23, 23, 221)
    }
    h3{
        color:white;
    }
    .LowbudgetGamingLaptop {
    margin-top: 20px;
    display: flex;
    border-radius: 30px;
    background-color: rgb(146, 131, 131);
    height: 300px;
    justify-content: space-around;
    padding: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 30px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    }
    .HighBudgetGamingLaptop {
      margin-top: 20px;
    display: flex;
    border-radius: 30px;
    background-color: rgb(146, 131, 131);
    height: 300px;
    justify-content: space-around;
    padding: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 30px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    }
    .AffordableGmaingLaptop {
    margin-top: 20px;
    display: flex;
    border-radius: 30px;
    background-color: rgb(146, 131, 131);
    height: 300px;
    justify-content: space-around;
    padding: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 30px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1); 
}
    .RTXGamingLaptop {
        margin-top: 20px;
    display: flex;
    border-radius: 30px;
    background-color: rgb(146, 131, 131);
    height: 300px;
    justify-content: space-around;
    padding: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 30px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1); 
    }
.dropdown{

    position: relative;

    display: inline-block;

}

.dropbtn{

    background-color: #3498db;

    color: white;

    padding: 8px;

    font-size: 16px;

    border: none;

    cursor: pointer;

    height: 50px;

}

.dropdown-content{

    display: none;

    position: absolute;

    background-color: white;

    min-width: 120px;

    border: 1px ;

}

.dropdown-content a{

    color: white;

    padding: 10px;

    text-decoration: none;

    display: block;

}

.dropdown:hover .dropdown-content{

    display: block;

}

.dropdown-content a:hover {

    background-color: #333

}
.menu-bargaming{
    display: flex;
    padding: 20px;
    background-color: #3498db;
    justify-content: flex-start;
    color:white;
    height: 15px;
    font-size: 20px;
}
.footer {
  background: #111;
  color: #eee;
  padding: 30px 20px;
  margin-top: 40px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}

.footer-section {
  flex: 1 1 250px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-section h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
  justify-content: center;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 6px;
}

.footer-section a {
  color: #aaa;
  text-decoration: none;
}

.footer-section a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid #333;
  margin-top: 20px;
  font-size: 14px;
}
